---
import EpisodeLayout from "../layouts/EpisodeLayout.astro";
import astropodConfig from "../../.astropod/astropod.config.json";
---

<EpisodeLayout title="About" description={astropodConfig.description} cover={astropodConfig.cover}>
  <div>
    <h1 class="text-xl font-bold">About the Show</h1>
  {astropodConfig.description}
</div>
  <div class="text-left mt-1">
    <h3 class="text-xl font-bold">Host</h3>
    <p class="text-md"><a href="https://oncetold.us" target="_blank">Kyle M. Bondo</a>: <strong>Chief Creative and Founder of <a href="https://oncetold.us" target="_blank">Oncetold</a></strong>, a podcast education and technology company dedicated to simplifying the complicated world of audio creation. He has been creating both audio and visual user experiences for over 20 years in hopes of making a small dent in the podcast universe.</p>
  </div>
  <div class="text-left mt-1">
    <h3 class="text-xl font-bold">Music</h3>
    <p class="text-md"><a href="https://audiojungle.net/item/what-are-you-waiting-for/15993045" target="_blank">What Are You Waiting For by NoiseWorld</a>: A motivational rock song by Australian artist NoiseWorld, about getting pumped up and taking action. Its classic rock feel makes it fun and full of power, while the <a href="https://audiojungle.net/item/what-are-you-waiting-for/15993045" target="_blank">lyrics</a> inspire the listener that maybe it's time to start a podcast!</p>
  </div>
</EpisodeLayout>


